<%= form_for :resume, method: 'post', url: {action: 'create'} do |f| %>
  <p>Full Name<br /> <%= f.text_field :fullname%> </p>
  <p>Title<br /> <%= f.text_field :current_title%> </p>
  <p>Email<br /> <%= f.text_field :email%> </p>
  <p>Phone<br /> <%= f.text_field :phone%> </p>
  <p>Website<br /> <%= f.text_field :site%> </p>

  <hr />

  <%= label(:resume, :profile) %><br />
  <%= f.text_field :profile %><br />

  <hr />

  <%= label(:resume, :job_title) %><br />
  <%= f.text_field :job_title %><br />
  <%= label(:resume, :company) %><br />
  <%= f.text_field :company %><br />
  <%= label(:resume, :date) %><br />
  <%= f.text_field :date %><br />
  <%= label(:resume, :description) %><br />
  <%= f.text_field :description %><br />

  <hr />

  <%= label(:resume, :skills) %><br />
  <%= f.text_field :skills %><br />

  <hr />

  <%= label(:resume, :Education) %><br />
  <%= f.text_field :education %><br />
  <%= label(:resume, :edu_description) %><br />
  <%= f.text_field :edu_description %><br />
  <br />
  <%= f.submit "Create Resume" %>
<% end %>


<% @resumes.each do |resume| %>
  <%= resume['name'] %> -
  <%= mail_to resume['email'], resume['email'] %>
  from
  <i><%= resume['company'] %></i>
  <br />


  <%= link_to 'Remove resume', resume, method: :delete %><br />
  <%= link_to 'View/Edit resume', resume, method: :get %><br />
  <hr>
<% end %>
