    <nav id="header">
      <div class="nav-wrapper">
          <a href="/" class="brand-logo">easy<span id="cvlogo">CV</span></a>
          <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/resumes">Create a Resume</a></li>
          </ul> -->
      </div>
    </nav>

<div id="form">
<%= form_for :resume, method: 'post', class: "col s12", url: {action: 'create'} do |f| %>
<div class="row">
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">

    </div>
    <div class="carousel-item #e0e0e0 grey lighten-2" href="#one!">
      <h2>Fill in your information</h2>
      <!-- <div class="row"> -->

      <div class="input-field col s3">
      <p>Full Name <%= f.text_field :fullname%> </p>
      </div>

      <div class="input-field col s3">
      <p>Title <%= f.text_field :current_title%> </p>
      </div>

      <div class="input-field col s3">
      <p>Email <%= f.text_field :email%> </p>
      </div>

      <div class="input-field col s3">
      <p>Phone <%= f.text_field :phone%> </p>
      </div>

      <div class="input-field col s3">
      <p>Website <%= f.text_field :site%> </p>
      </div>

      <div class="input-field col s9">
      <p>Profile <%= f.text_area :profile%> </p>
      </div>

    <!-- </div> -->  <!-- ROW -->
    </div> <!-- CAROUSEL ITEM -->

    <div class="carousel-item #e0e0e0 grey lighten-2" href="#two!">

      <div class="input-field col s4">
      <p>Job Title <%= f.text_field :job_title%> </p>
      </div>

      <div class="input-field col s4">
      <p>Company <%= f.text_field :company%> </p>
      </div>

      <div class="input-field col s4">
      <p>Date <%= f.text_field :date%> </p>
      </div>

      <div class="input-field col s6">
      <p>Description <%= f.text_area :description%> </p>
      </div>

    </div>  <!-- CAROUSEL ITEM -->

    <div class="carousel-item #e0e0e0 grey lighten-2" href="#three!">
      <div class="input-field col s6">
      <p>Skills <%= f.text_field :skills%> </p>
      </div>
    </div> <!-- CAROUSEL ITEM -->

    <div class="carousel-item #e0e0e0 grey lighten-2" href="#four!">
      <div class="input-field col s8">

      <p>Education <%= f.text_field :education%> </p>
      </div>

      <div class="input-field col s8">
      <p>Description <%= f.text_area :edu_description%> </p>
      <%= f.submit "Submit", id: "btn" %>
      </div>
    </div> <!-- CAROUSEL ITEM -->

  </div> <!-- CAROUSEL -->
</div> <!-- ROW -->
<% end %>
</div> <!-- FORM -->

